<html>
<head>
    <title>Comic: {{archive.filename}}</title>
</head>
<body>
{% for page in range(archive.page_count()) %}
<div style="display: table; margin: {{ settings.PAGE_GAP_MARGIN }} auto; border: 0px;">
    <img src="{{ url_for('get_archive_page', escaped_title=archive.escaped_title, page_number=page) }}" />
</div>
{% endfor %}
<script>
    setInterval(function() {
        var r = new XMLHttpRequest();
        r.open("GET", "{{ watchdog_url }}", true);
        r.send();
    }, 1000);
</script>
</body>
</html>5